[Unit]
Description=Slack fstbot service

[Service]
Type=simple
ExecStart=cd /home/ubuntu/slackbot && python fstbot.py

[Install]
WantedBy=multi-user.target
